/* General body styling */
body {
    margin: 0;
}

/* .menu settings to fix at the top */
.menu {
    border: 5px solid rgba(255, 0, 212, 0.404);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width without overflow */
    height: 50px;
    z-index: 10;
    box-sizing: border-box;
}




/* .struct section styling */
.layout {
    border: 5px solid rgb(152, 213, 253);
    height: calc(100vh - 50px); /* Full viewport height minus fixed menu height */
    margin-top: 50px; /* Creates space for the fixed menu without overlap */
    box-sizing: border-box;
    background-color: rgb(236, 255, 255);
    display: flex;
    flex-direction: column;
}

/* Containers inside .layout */
.ct-1, .struct_c2, .struct_c3, .struct_c4 {
    border: 5px solid rgba(255, 124, 17, 0.445);
    box-sizing: border-box;
}



/* Set individual container heights for Section 2 */
.ct-1 {
    height: 24%;
}

.struct_c2 {
    height: 38%;
}

/* Two-column layout for Section 3 */
#bio {
    flex-direction: row; /* Arrange children side-by-side */
    justify-content: center;
}

.struct_c3 {
    width: 25%; /* Maintain specified width */
    height: 100%; /* Full height of the section */
}

/* Optional: Add space between columns in Section 3 */
#container4, #container5 {
    margin: 0 5px; /* Adjusts spacing between columns */
}

/* Flexbox layout for Section 4 */
#skills {
    flex-direction: row;
    justify-content: center;
}

/* Each container takes half the width */
.struct_c4 {
    width: 50%;
    height: 100%; /* Full height of the section */
    display: flex; /* Enable flex layout for inner alignment */
    justify-content: flex-end; /* Align content to the right */
    box-sizing: border-box;
}

/* Align .struct_c5 to the right within .struct_c4 */
.struct_c5 {
    border: 5px solid rgba(71, 58, 255, 0.445);
    width: 50%; 
    height: auto;

}

/* Align .struct_c5 to the right within .struct_c4 */
.struct_c6 {
    border: 5px solid rgba(71, 58, 255, 0.445);
    width: 100%; 
    height: auto;

}



/* Optional: Add space between columns in Section 4 */
#skills-details, #skills-isotope {
    margin: 0 0px; /* Adjusts spacing between columns */
}


